.row {
    display: flex;
    width: 550px;
    justify-content: center;
    align-items: center;

}

h1 {
    text-align: center;
}

.main {
    background: linear-gradient(aquamarine, tan 100%);
    width: 550px;
    margin: 0 auto;
}

.col-1 {
    width: 40%;
    padding: 10px 0px;
    text-align: center;
}

.col-2 {
    width: 60%;
    padding: 10px 0px;
}

button {
    padding: 15px 35px;
    border: black 1px solid;
    margin-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(red 66%,black);
    color: white;
    font-size: 15px;



}

span {
    color: red;
}